@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');


/*  VARIABLES  */
:root {
  --blueberry: #6b7a8f;
  --apricot: #f7882f;
  --citrus: #f7c331;
  --applecore: #DCC7AA;
  --rust: #985e4a;
  --rustyrose: #c28285;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a{
  color: var(--citrus);
}
html {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--blueberry);
}

header {
  width: 100%;
  background-color: var(--applecore);
}

section{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* navigation */

nav {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand i {
  font-size: 4rem;
  color: var(--blueberry);
  margin: auto;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-link {
  font-size: 1.6rem;
  text-decoration: none;
  display: block;
  margin: 0 2rem;
  color: var(--rust);
  transform: scale(0);
  transition: transform 650ms;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.nav-item {
  position: relative;
  line-height: 8rem;
  transition-delay: .6s;
  visibility: hidden;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--citrus);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.68, -0.55, 0.265. 1.55);
}

.nav-item:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* hamburger menu  */
.hamburger {
  width: 3.6rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
  line-height: 5rem;
  z-index: 1500;
}

.hamburger .line{
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  display: block;
  right: 0;
  transition: all 650ms;
}

.hamburger .line:nth-child(1){
  top: 0;
}

.hamburger .line:nth-child(2){
  top: 50%;
  margin-top: -1px;
  width: 2.8rem;
}

.hamburger .line:nth-child(3){
  top: 100%;
  margin-top: -2px;
  width: 2rem;
}

/* animation */
.hamburger.active .line:nth-child(1){
  transform: translateY(.8rem) rotate(45deg);
  width: 2rem;
}

.hamburger.active .line:nth-child(2){
  opacity: 0;
}

.hamburger.active .line:nth-child(3){
  transform: translateY(-.8rem) rotate(-45deg);
  width: 2rem;
}

.nav-list.active .nav-link{
  transform: scale(1);
}

.nav-list.active .nav-item{
  transition-delay: initial;
  visibility: visible;
}


.nav-list.active .nav-item:nth-child(1) .nav-link{
  transition-delay: .5s;
}

.nav-list.active .nav-item:nth-child(2) .nav-link{
  transition-delay: .4s;
}

.nav-list.active .nav-item:nth-child(3) .nav-link{
  transition-delay: .3s;
}

.nav-list.active .nav-item:nth-child(4) .nav-link{
  transition-delay: .2s;
}

.nav-list.active .nav-item:nth-child(5) .nav-link{
  transition-delay: .1s;
}

/* reverse animation */

.nav-list .nav-item:nth-child(1) .nav-link{
  transition-delay: .1s;
}

.nav-list .nav-item:nth-child(2) .nav-link{
  transition-delay: .2s;
}

.nav-list .nav-item:nth-child(3) .nav-link{
  transition-delay: .3s;
}

.nav-list .nav-item:nth-child(4) .nav-link{
  transition-delay: .4s;
}

.nav-list .nav-item:nth-child(5) .nav-link{
  transition-delay: .5s;
}

/* TEXT */
.top-text{
  font-size: 4rem;
  color: black;
  text-align: center;
}


/* ABOUT SECTION */

.container2{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1 1.5rem;
}

.accordion-item{
  background-color: #283042;
  border-radius: .4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);
}

.accordion-link{
  font-size: 1.6rem;
  color: rgba(255,255,255,.8);
  text-decoration: none;
  background-color: #283042;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link i{
  color: #e7d5ff;
  padding: .5rem;
}

.accordion-link .ion-md-remove{
  display: none;
}

.answer{
  overflow: hidden;
  max-height: 0;
  position: relative;
  background-color: #212838;
  transition: max-height 650ms;
  -webkit-transition: max-height 650ms;
  -moz-transition: max-height 650ms;
  -ms-transition: max-height 650ms;
  -o-transition: max-height 650ms;
}

.answer:before{
  content: "";
  position: absolute;
  width: .6rem;
  height: 90%;
  background-color:var;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: rgba(rgba(255, 0, 0, 0.5));
}

.answer p{
  font-size: 1.4rem;
  color: rgba(255,255,255,.6);
  padding: 2rem;
}

/* click event */

.accordion-item:target .answer{
  max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-add{
  display: none;
}

.accordion-item:target .accordion-link .ion-md-remove {
  display: block;
}


/* media queries */

@media screen and (max-width: 768px) {
  .nav-list{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--applecore);
    position: fixed;
    left: 0;
    bottom: -100vh;
    transition: bottom 650ms;
  }

  .nav-list.active{
    bottom: 0;
  }
}
